In [1]:
import pandas as pd
import numpy as np
df=pd.read_csv('Salary_Data.csv')
df.head(10)

   YearsExperience  Salary
0              1.1   39343
1              1.3   46205
2              1.5   37731
3              2.0   43525
4              2.2   39891
5              2.9   56642
6              3.0   60150
7              3.2   54445
8              3.2   64445
9              3.7   57189

In [2]:
df.isnull().sum()

YearsExperience    0
Salary             0
dtype: int64

In [3]:
X=df['YearsExperience'].values
X

array([ 1.1,  1.3,  1.5,  2. ,  2.2,  2.9,  3. ,  3.2,  3.2,  3.7,  3.9,
        4. ,  4. ,  4.1,  4.5,  4.9,  5.1,  5.3,  5.9,  6. ,  6.8,  7.1,
        7.9,  8.2,  8.7,  9. ,  9.5,  9.6, 10.3, 10.5])

In [4]:
y=df['Salary'].values
y

array([ 39343,  46205,  37731,  43525,  39891,  56642,  60150,  54445,
        64445,  57189,  63218,  55794,  56957,  57081,  61111,  67938,
        66029,  83088,  81363,  93940,  91738,  98273, 101302, 113812,
       109431, 105582, 116969, 112635, 122391, 121872], dtype=int64)

In [5]:
X_mean=np.mean(X)
X_mean

5.3133333333333335

In [6]:
y_mean=np.mean(y)
y_mean

76003.0

In [7]:
n=len(X )
n

30

In [8]:
numerator=0
denominator=0
for i in range(n):
    numerator += (X[i] - X_mean) * (y[i] - y_mean)
    denominator += (X[i] - X_mean) ** 2
denominator
#numerator

233.55466666666663

In [10]:
b1=numerator/denominator
b1

9449.962321455077

In [11]:
b0=y_mean-(b1*X_mean)
b0

25792.20019866869

In [12]:
print(b1,b0)

9449.962321455077 25792.20019866869

In [13]:
#to check accuracy
rmse=0
for i in range(n):
    y_pred=b0+b1*X[i]
    rmse=rmse+(y[i]-y_pred)**2
rmse=np.sqrt(rmse/n)

rmse

5592.043608760662

In [15]:
#R2 determination
sumofsquares = 0
sumofresiduals = 0
for i in range(n) :
    y_pred = b0 + b1 * X[i]
    sumofsquares += (y[i] - y_mean) ** 2
    sumofresiduals += (y[i] - y_pred) **2
    
score  = 1 - (sumofresiduals/sumofsquares)
print(score)

0.9569566641435086